.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* gap: 1rem; */
    /* margin: 1px; */
    align-items: center;
    justify-content: center;
    background: #f3ebe4;

}

.text {
    background-color: white;
    height: 430px;
    width: 270px;
    box-sizing: border-box;
    /* margin: 10px; */
    padding: 25px;
    align-content: center;
    /* padding: 10px; */
}

.image {
    background-color: greenyellow;
    height: 430px;
    width: 270px;
    aspect-ratio: 3 / 4;
}

.image img {
    height: 430px;
    width: 270px;
}

.p1{
    font-family: montserrat;
    font-weight: 500;
    font-size: 14px;
}

.p2{
    font-family: fraunces;
    font-weight: 700;
}

@font-face {
    font-family: montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
  }

@font-face {
    font-family: fraunces;
    src: url(Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
  }